/**
 * Project ReactBucket
 *
 * _Icon @ src/styles/components/_icon.scss
 *
 * Defined at 12 giu 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 * Set the Icon Style
 *
 */

/******
    Build Main Icon Style
******/
.icon {
  @include icon-style($attach-to-selector: true) {
    display: inline-block;
    opacity: $icon-opacity;
    margin: 0 $icon-spacer 0 0;
    width: $icon-width;
    text-decoration: inherit;
    text-align: center;
    vertical-align: baseline;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    line-height: inherit;
    font-size: inherit;
    color: inherit;

    &:after {
      border-color: inherit;
    }
  }

  // ----
  //  Remove the fixed icon width
  // ----
  &.is-fitted {
    width: auto;
  }

  // ----
  //  Remove right spacing
  // ----
  &.is-unspaced {
    margin-right: 0;
  }

  // ----
  //  Add a Border to Icon
  // ----
  &.is-bordered {
    position: relative;
    min-width: $icon-bordered-box-size;

    &:after {
      content: '';
      position: absolute;
      height: $icon-bordered-box-size;
      width: $icon-bordered-box-size;
      border-width: $icon-bordered-border-width;
      border-style: solid;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: $border-radius;
    }
  }

  // ----
  //  Clickable Icon must change pointer
  // ----
  &.is-clickable {
    cursor: pointer;
  }

  // ----
  //  Disabled icon as lower opacity
  // ----
  &.is-disabled {
    opacity: $disabled-element-opacity !important;

    /// Clickable Item must show the not allowed cursor
    &.is-clickable {
      cursor: not-allowed;
    }
  }

  // ----
  //  Variate Icon Color
  // ----
  @include color-property-variation(
    $base-color: null,
    $properties-list: (color, border-color),
    $use-brands: true,
    $use-ui: true,
    $use-social: true
  );
}
