/**
  Mixin dedicated at change field color
  on state changed (error, warn ...)
*/
@mixin __field-color-change($color, $foreground: $white) {
  color: $color !important;

  > label {
    color: $color !important;
  }

  > .input-messages {
    color: $color !important;
  }

  > .content {
    > input {
      background-color: transparentize($color, .85) !important;

      @include input-placeholder {
        color: transparentize($color, .35) !important;
      }
    }
  }

  > .content:not(.is-bordered) {
    > input {
      box-shadow: inset 0px -4px 0px -3px $color !important;

      &:focus {
        box-shadow: inset 0px -5px 0px -3px $color !important;
      }
    }
  }

  > .content.is-bordered {
    > input {
      box-shadow: inset 0px 0px 0px 1px $color !important;
    }

    > .label,
    > .icon,
    > .button {
      background-color: $color !important;
      color: $foreground !important;
    }
  }
}
