/*
 * ReactBucket Framwork
 *
 * Radio @ _radio.scss in 'Form'
 *
 * Defined at 2019-11-26
 * Copyright Marco Cavanna • 2019
 */


/******
    With Radio Button must
    rebuild Field Margin
    to be more consistent
    with layout design
******/
.field > .content.radio .field {
  margin: get-em-spacer(2) 0;

  > .content.checkbox {
    > label {
      opacity: .75;
    }

    &.is-checked {
      > label {
        opacity: 1;
        font-weight: $semi-bold;
      }
    }
  }
}
