/*
 * ReactBucket Framwork
 *
 * Select @ _select.scss in 'Form'
 *
 * Defined at 2019-11-05
 * Copyright Marco Cavanna • 2019
 */


/******
    The Select Component
    is a complete porting of
    react-select npm module
    This file will only adjust style
******/
.field > .input {

  /* Adjust Select Width inside field */
  > .select {
    width: 100%;
  }

  /* Adjust the colors of the field */
  > .select > .bucket__control {
    border-color: $border-color;
    background-color: $white;

    /* Adjust the focused color */
    &.bucket__control--is-focused {
      border-color: $primary;
      box-shadow: none;
    }
  }

  /* Adjust the color of the placeholder */
  > .select > .bucket__control .bucket__placeholder {
    opacity: .75;
  }

  /* Adjust menu options colors */
  > .select > .bucket__menu  .bucket__menu-list {
    .bucket__option--is-focused {
      background-color: transparentize($primary, .75);
    }

    .bucket__option--is-selected {
      background-color: $primary;
    }
  }
}
