/**
 * Project ReactBucket
 *
 * _ConfigElements @ src/styles/grid/_config-elements.scss
 *
 * Defined at 11 giu 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 * Style Configuration for all Elements
 *
 */

/******
    Z-Index
******/
$backdrop-z-index: 1010 !default;
$overlay-loader-z-index: 1000 !default;
$popup-z-index: 1900 !default;


/******
    Button Configuration
******/
$button-height: 2.75em !default;
$button-min-width: 10em !default;
$button-font-size: 1rem !default;
$button-font-weight: $semi-bold !default;
$button-text-transform: uppercase !default;
$button-line-height: $default-line-height !default;
$button-spacer: $spacer * .5 !default;
$button-border-radius: $border-radius !default;
$button-horizontal-padding: 1.25em !default;
$button-background-color: $grey-lightest !default;
$button-inverted-border-width: pixel-to-em(2px) !default;
$button-icon-opacity: .8 !default;
$button-fab-spacer: .5em !default;

/// Set if button hover will drop shadow
$button-hover-will-drop-shadow: true !default;

/// Generate Button Variation using Colors
$generate-button-brands-variation: true !default;
$generate-button-ui-variation: true !default;
$generate-button-social-variation: true !default;


/******
    Backdrop Configuration
******/
$backdrop-content-color: $white-shade !default;
$backdrop-color: #3b414f !default;
$backdrop-opacity: .8 !default;
$backdrop-padding: 1em !default;
$backdrop-animation-duration: 500ms !default;
$backdrop-transition-duration: $backdrop-animation-duration !default;
$backdrop-transition-timing-function: $transition-ease !default;


/******
    DropDown Menu
******/
$dropdown-menu-item-padding: .75em !default;


/******
    Empty Content
******/
$empty-content-vertical-spacer: 3em !default;
$empty-content-button-spacer: $empty-content-vertical-spacer * .5 !default;
$empty-content-header-opacity: .4 !default;
$empty-content-icon-size: 4.5em !default;


/******
    Field Elements
******/
$field-label-font-weight: $semi-bold !default;
$field-label-font-size: .85em !default;
$field-label-text-transform: uppercase !default;
$field-label-spacer: $spacer * .5 !default;
$field-label-color: $text-lightest !default;

$field-icon-base-color: rgba(0, 0, 0, .35) !default;

$field-focus-main-color: $primary !default;
$field-focus-label-color: $field-focus-main-color !default;
$field-focus-icon-color: $field-focus-main-color !default;


/******
    Icon Configuration
******/
$icon-spacer: $spacer * .25 !default;
$icon-width: 1.5em !default;
$icon-opacity: 1 !default;
$icon-bordered-box-size: 1.65em !default;
$icon-bordered-border-width: pixel-to-em(1px) !default;


/******
    Input Configuration
******/
$input-line-height: 18px !default;
$input-vertical-padding: 10px !default;
$input-horizontal-padding: 1em !default;
$input-placeholder-vertical-position-fix: 2px !default;

$input-background-color: rgba(0, 0, 0, .05) !default;

$input-border-radius: $border-radius !default;
$input-border-color: transparent !default;
$input-border-width: 2px !default;

$input-focus-background-color: transparent !default;
$input-focus-border-color: $field-focus-main-color !default;

$computed-input-line-height: strip-unit(pixel-to-em($input-line-height));
$computed-input-height: pixel-to-em($input-line-height + ($input-vertical-padding * 2));


/******
    Loader
******/
$loader-in-component-size: pixel-to-em(20px) !default;
$loader-in-component-stroke-size: .2em !default;
$loader-in-component-background-color: rgba(0, 0, 0, 0.15) !default;
$loader-in-component-spinner-color: rgba(255, 255, 255, 0.85) !default;

$loader-stroke-size: .3em !default;
$loader-background-color: transparentize($text, .85) !default;
$loader-spinner-color: transparentize($text, .5) !default;

$loader-indeterminate-min-width: 10rem !default;

$loader-dots-animation-duration: 1600ms !default;
$loader-dots-animation-delay: 250ms !default;
$loader-dots-timing-function: ease-in-out !default;

$loader-circular-dots-dot-size: 1.25em !default;
$loader-circular-dots-dot-starting-opacity: .3 !default;
$loader-circular-dots-rotate-animation-duration: 1600ms !default;
$loader-circular-dots-rotate-timing-function: linear !default;
$loader-circular-dots-dot-animation-duration: 1000ms !default;
$loader-circular-dots-dot-animation-delay: 400ms !default;
$loader-circular-dots-dot-timing-function: linear !default;

$loader-sizing: (
  extra-small: 1rem,
  small: 1.75rem,
  normal: 2.5rem,
  large: 3.5rem,
  big: 5rem,
  huge: 7rem
) !default;
$loader-font-size: (
  extra-small: .5em,
  small: .75em,
  normal: 1em,
  large: 1.25em,
  big: 1.5em,
  huge: 2em
) !default;


/******
    Panels
******/
$panel-background-color: $white !default;
$panel-border-radius: $border-radius-big * 2 !default;
$panel-bottom-spacer: $spacer !default;
$panel-vertical-padding: 1.25em !default;
$panel-horizontal-padding: 1.5em !default;
$panel-fab-size: 1.15em !default;
$panel-appearance-border-width: 0.2rem !default;
$panel-appearance-border-consistence: .5rem !default;


/******
    PopUp
******/
$popup-background: $white-shade !default;
$popup-content-background: $white !default;
$popup-color: $text !default;

$popup-inverted-background: $backdrop-color !default;
$popup-inverted-background-opacity: $backdrop-opacity !default;
$popup-inverted-color: $white-shade !default;

$popup-border-radius: $border-radius !default;
$popup-min-width: 18rem !default;
$popup-max-width: 25rem !default;
$popup-border: none !default;
$popup-content-padding: 0.4em !default;

$popup-elevation: 2 !default;

$popup-basic-font-size: .85em !default;
$popup-basic-min-width: min-content !default;
$popup-basic-max-width: 20rem !default;
$popup-basic-line-height: 1.25 !default;

$popup-basic-content-padding: $popup-content-padding !default;

$popup-basic-border: none !default;
$popup-basic-elevation: 2 !default;


/******
    Progress
******/
$progress-bar-background: $grey-lightest !default;
$progress-value-background: $grey-light !default;

$progress-indicator-size: .9em !default;
$progress-indicator-font-weight: $bold !default;

$linear-progress-indicator-color: rgba(255, 255, 255, .75) !default;
$linear-progress-height: 1.25em !default;

$linear-progress-limits-color: $text-light !default;
$linear-progress-limits-font-weight: $semi-bold !default;
$linear-progress-limits-spacer: .25em !default;

$circular-progress-linecap: round !default;
$circular-progress-linejoin: round !default;

$circular-progress-indicator-color: $text-light !default;


/******
    Section
******/
$section-spacer: 1.25em !default;
$section-label-font-weight: $bold !default;
$section-label-text-transform: uppercase !default;
$section-label-color: $grey-light !default;
$section-label-font-size: .85em !default;
$section-label-spacer: .25em !default;
$section-divided-border-style: solid !default;
$section-divided-border-width: 1px !default;
$section-divided-border-color: $grey-lightest !default;


/******
    Table Layout
******/
$table-columns-gutter: $columns-gutter * 1.5 !default;
$table-row-gutter: $columns-gutter * 1.5 !default;

$table-header-font-weight: $semi-bold !default;
$table-header-color: $text-light !default;
$table-header-text-transform: uppercase !default;

$table-header-border-style: solid !default;
$table-header-border-color: $grey-lightest !default;
$table-header-border-width: 2px !default;

$table-body-border-style: solid !default;
$table-body-border-color: $grey-lightest !default;
$table-body-border-width: 1px !default;
$table-body-border-after-last-row: false !default;

$table-footer-border-style: solid !default;
$table-footer-border-color: $grey-lightest !default;
$table-footer-border-width: 2px !default;

$table-cell-header-font-weight: $semi-bold !default;
$table-cell-content-opacity: .75 !default;

$table-color-variation-transparency: .9 !default;
