/**
 * Project ReactBucket
 *
 * _Layout @ src/styles/_layout.scss
 *
 * Defined at 06 giu 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 * Define the Layout Style
 *
 */

/******
    HTML
******/
html,
body {
  font-family: $body-font;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;

  text-size-adjust: 100%;
  text-rendering: $font-render-mode;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: $body-background;

  height: 100%;

  overflow-x: hidden;
}
