/*
 * Dropzone Framwork
 *
 * Dropzone @ _dropzone.scss in 'Element'
 *
 * Defined at 2020-01-29
 * Copyright Marco Cavanna • 2020
 */


/******
    Dropzone Block Main Style
******/
.dropzone {
  display: block;
  padding: 3em;
  border: dashed 4px $border-color;
  text-align: center;
  margin-bottom: 1.25em;

  &.has-files {
    padding-top: 1em;
    padding-bottom: 1em;

    &.files-list-preview {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}


/******
    Dropzone State
******/
.dropzone.is-disabled:not(.is-uploading) {
  pointer-events: none;
  @include unselectable();
  opacity: $disabled-opacity;
}

.dropzone.is-uploading {
  @include flashingPrimaryBorder();
}

.dropzone.has-upload-error {
  border-color: $danger !important;
}


/******
    Dropzone Content Styling
******/
.dropzone > .dropzone-content > .dropzone-hint {
  color: $grey-light;

  @include icon-style {
    margin: 0 auto;
    display: block;
    font-size: 4em;
  }

  .dropzone-title {
    font-size: 2em;
    font-weight: $bold;
    margin: .5em 0 .25em;
  }

  .dropzone-message {
    font-size: 1.5em;
    font-weight: $semi-bold;
  }

}


/******
    Append Proper Transition
    properties to dropzone element
******/
.dropzone.is-draggable:not(.is-disabled),
.dropzone.is-clickable:not(.is-disabled) {
  cursor: pointer;
  transition: border-color $transition-duration $transition-ease;

  > .dropzone-content > .dropzone-hint {
    transition: color $transition-duration $transition-ease;
  }
}


/******
    Clickable Dropzone
    will change border color
    and pointer on Hover
******/
.dropzone.is-clickable:not(.is-disabled) {
  cursor: pointer;

  @include without-touch-hover {
    border-color: $primary;

    > .dropzone-content > .dropzone-hint {
      color: $primary;
    }
  }
}


/******
    Dragging Elements on Dropzone
    will change border color
******/
.dropzone.is-draggable.is-dragging:not(.is-disabled) {
  transition: none;
  border-color: $primary;

  > .dropzone-content > .dropzone-hint {
    transition: none;
    color: $primary;
  }
}


/******
    Dropzone File Preview Container
******/
.dropzone > .dropzone-content > .dropzone-files {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /*---
    Preview Container dimension and Spacing
  ---*/
  > .file-preview-wrapper {
    position: relative;
    flex: 0 0 96px;
    width: 96px;
    margin: get-em-spacer(4) get-em-spacer(3) 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  /*---
    Preview Container Image / Icon
  ---*/
  > .file-preview-wrapper {
    > .file-preview {
      position: relative;
      width: 96px;
      height: 96px;
      border-radius: $border-radius;
      background-color: $grey-lightest;
      overflow: hidden;

      > img,
      > .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      > .icon {
        font-size: 3.5em;
        color: $text-lightest;
      }
    }

    &.is-image.is-horizontal img {
      width: 100%;
    }

    &.is-image.is-vertical img {
      height: 100%;
    }
  }

  /*---
    Preview Meta Information
  ---*/
  > .file-preview-wrapper {
    > .file-meta {
      margin-top: get-em-spacer(2);

      > span {
        color: $text-lightest;
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: $semi-bold;

        &.file-size {
          opacity: .5;
        }
      }
    }
  }
}


/******
    Dropzone with Files showed as List
******/
.dropzone.files-list-preview > .dropzone-content > .dropzone-files {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;

  > .file-preview-wrapper {
    display: flex;
    height: 48px;
    width: 100%;
    flex-basis: 100%;
    align-items: center;
    margin-left: 0;
    margin-top: 0;

    > .file-preview {
      height: 48px;
      width: 48px;
      margin-right: 12px;
      flex: 0 0 48px;

      > .icon {
        font-size: 2em;
      }
    }

    > .file-meta {
      flex: 1 1 auto;
      overflow: hidden;
    }

    > .file-tools {
      margin-left: 12px;
    }

    + .file-preview-wrapper {
      padding-top: 12px;
      margin-top: 12px;
      border-top: $border;
    }
  }
}


/******
    Display File Tools
******/
.dropzone.files-icon-preview .file-preview-wrapper > .file-tools {
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 2;

  > .file-tool {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: $grey-darkest;
    text-align: center;
    opacity: .75;

    .icon {
      color: $white-shade-2;
      margin: 0;
      line-height: 24px;
    }

    + .file-tool {
      margin-left: 4px;
    }
  }
}

.dropzone.files-list-preview .file-preview-wrapper > .file-tools {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .file-tool {
    font-size: 1.25em;
    color: $grey-light;

    .icon {
      margin: 0;
    }

    + .file-tool {
      margin-top: 4px;
    }
  }
}


/******
    File State Display
******/
.dropzone .file-preview > .file-state-wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: $border-radius;
  background-color: transparentize($primary, .25);
  transition: background-color $transition-duration $transition-ease;

  > .file-state-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icon {
      margin: 0;
      color: $white-shade-2;
    }
  }

  &.is-success {
    background-color: transparentize($color: $success, $amount: .25);
  }

  &.is-error {
    background-color: transparentize($color: $danger, $amount: .25);
  }
}
