.empty-content,
.empty-content-icon,
.empty-content-header,
.empty-content-content {
  display: block;
}

.empty-content {
  padding: 1em 0 1.5em;
  opacity: .75;

  > .empty-content-icon {
    font-size: 6em;
    color: inherit;
    margin-bottom: .1em;

    .icon {
      margin: 0;
    }
  }

  > .empty-content-header {
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 2em;
    color: inherit;
    margin-bottom: .15em;
  }

  > .empty-content-content {
    font-weight: $semi-bold;
    font-size: 1.25em;
    color: inherit;
    opacity: .87;
  }

  > .empty-content-button {
    padding-top: 1em;
  }
}

/*---
  Set Style for EmptyContent
  when is the first child of view-content
---*/
.view-content > .empty-content {
  font-size: 1.25em;
}

.panel.has-table .empty-content {
  padding-bottom: 1em + $panel-padding-vertical;
}
