.header {
  border: none;
  margin: 2rem 0 1rem;
  padding: 0;
  line-height: 1.25;
  font-size: $h3;
  text-align: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    display: inline-block;
    font-weight: $bold;
    vertical-align: top;

    .subheader {
      color: $text-light;
      font-size: .75em;
      font-weight: $semi-bold;
    }
  }

  > .icon {
    display: block;
    opacity: 1;
    font-size: 2em;
    padding: 0;
    margin: 0 auto;
  }

  &:not(.icon) {
    text-align: inherit;

    > .icon {
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      font-size: 1.5em;

      + .content {
        padding-left: .25em;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  &.is-disabled {
    opacity: $disabled-opacity !important;
  }

  &.is-dividing {
    border-bottom: $border;
    padding-bottom: .5em;
  }

  @include size-variation()

}
