/*
 * ReactBucket Framwork
 *
 * Hero @ _hero.scss in 'Element'
 *
 * Defined at 2019-11-09
 * Copyright Marco Cavanna • 2019
 */


/******
    Main Hero Style
    and Position
******/
.hero {
  position: relative;
  padding: get-rem-spacer(5) $view-padding * 2;
  background-color: $hero-background-color;
  display: block;
  color: $hero-font-color;
}


/******
    Hero Elements
******/
.hero {

  /*---
    Header
  ---*/
  > .hero-header {
    font-weight: $hero-header-font-weight;
    font-size: $hero-header-font-size;
  }

  /*---
    Content
  ---*/
  > .hero-content {
    font-weight: $hero-content-font-weight;
    font-size: $hero-content-font-size;
    opacity: .75;
  }

  /*---
    Hero Icon
  ---*/
  > .hero-icon {
    margin: 0;
    position: absolute;
    color: $hero-icon-font-color;
    opacity: $hero-icon-opacity;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    > .icon {
      font-size: $hero-icon-font-size;
      margin: 0;
      transform: translateX(20%);
    }
  }

}


/******
    Hero Tools
******/
.hero.with-hero-tools {
  /* Apply an incresed margin bottom */
  margin-bottom: 1.5em;

  /*---
    Set Tools Position
  ---*/
  > .hero-tools {
    position: absolute;
    bottom: 0;
    right: $hero-tools-padding-right;
    transform: translateY(50%);
  }

  /*---
    Button must be little bigger
  ---*/
  > .hero-tools > button {
    font-size: $hero-tools-button-size;
    @include dpShadow(2);
  }

  /*---
    Remove First and Last
    button margin
  ---*/
  > .hero-tools > button {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


/******
    Page Hero Tools has a fixed bottom right
    position, and it will show up, only once
    page has been scrolled down off the Hero component
******/
.page-hero-tools {
  z-index: 990;
  position: fixed;
  bottom: $hero-page-tools-bottom-position;
  right: $hero-tools-padding-right;
  transform: translateY(150%);
  transition: transform $transition-duration $swift-ease-in-out;

  > button {
    margin: 0;
    font-size: 1.5em;
    @include dpShadow(4);
  }
}

body.scrolled-over-hero {
  .page-hero-tools {
    transform: translateY(0);
  }
}
