@mixin __hero-button-active-style {
  background-color: #444;
  color: #fff;

  @each $index, $color in $hero-button-variarion-color {
    &.hero-variation-#{$index} {
      background-color: $color !important;
    }
  }
}

@mixin __hero-button-active-discreet-style {
  color: #444;

  @each $index, $color in $hero-button-variarion-color {
    &.hero-variation-#{$index} {
      color: $color !important;

      .icon {
        color: $color !important;
      }
    }
  }
}

.hero-button {
  background-color: #fff;
  padding: 1.5em 2em;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  color: $text-light;
  will-change: color, background-color, box-shadow;
  transition: color 150ms $transition-ease, background-color 150ms $transition-ease, box-shadow 300ms $transition-ease;
  cursor: pointer;
  margin: 0 0 1em;
  box-shadow: none;

  @include unselectable;

  .hero-button-header,
  .hero-button-content {
    position: relative;
    color: inherit;
    z-index: 2;
  }

  .hero-button-header {
    font-weight: $bold;
    font-size: 1.5em;
  }

  .hero-button-content {
    font-weight: $semi-bold;
    opacity: .75;
  }

  .hero-button-icon {
    position: absolute;
    font-size: 5em;
    top: 0;
    right: 0;
    transform: translate(5%, 10%);
    z-index: 1;

    .icon {
      margin: 0;
      text-align: right;
      opacity: .5;
      color: $grey-lightest;
      transition: color 150ms $transition-ease;
    }
  }


  &:not(.is-disabled) {

    &:not(.is-discreet) {
      @include without-touch-hover {
        & {
          @include __hero-button-active-style;
          @include dpShadow(4);
        }
      }

      &.is-active {
        @include __hero-button-active-style;
        opacity: .5;
      }
    }

    &.is-discreet {
      @include without-touch-hover($persist-on-touch: true) {
        @include __hero-button-active-discreet-style;
      }

      &.is-active {
        @include __hero-button-active-discreet-style;
      }
    }

  }

  &.is-disabled {
    cursor: not-allowed !important;
    opacity: $disabled-opacity !important;
  }

  &.is-selectable:not(.is-active) {
    opacity: .75;
  }

  @include size-variation();
}
