.highlighter {
  position: relative;

  > .match {
    position: relative;
    color: $white;
    z-index: 2;

    &:before {
      z-index: -1;
      position: absolute;
      content: '';
      top: -.25em;
      bottom: -.25em;
      left: -.25em;
      right: -.25em;
      background-color: $primary-tint;
      border-radius: .25em;
    }
  }

  > .match + .unmatch,
  > .unmatch + .match {
    margin-left: .35em;
  }
}
