@mixin __image-style($class) {
  &.is-#{unquote($class)},
  &.is-#{unquote($class)} .image,
  &.is-#{unquote($class)} img {
    @content;
  }
}

.image {
  display: block;
  position: relative;
  background-color: transparent;
  max-width: 100%;

  /*---
    Wrapped Image
  ---*/
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*---
    Image State
  ---*/
  &.is-disabled {
    opacity: 0.45;
    cursor: default;
  }

  /*---
    Inline Image
  ---*/
  @include __image-style('inline') {
    display: inline-block;
    vertical-align: middle;
  }

  /*---
    Rounded and Circual Image
  ---*/
  @include __image-style('rounded') {
    border-radius: pixel-to-em($border-radius);
  }

  @include __image-style('circular') {
    overflow: hidden;
    border-radius: 500rem
  }

  /*---
    Full Width Image
  ---*/
  @include __image-style('full') {
    display: block;
    width: 100%;
    height: auto;
  }

  /*---
    Avatar Image
  ---*/
  @include __image-style('avatar') {
    margin-right: .25em;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 500rem;
  }

  /*---
    Spaced Image
  ---*/
  &.is-spaced,
  &.is-spaced-left,
  &.is-spaced-right {
    display: inline-block !important;
  }

  &.is-spaced {
    margin-left: get-em-spacer(2);
    margin-right: get-em-spacer(2);
  }
  
  &.is-spaced-left {
    margin-left: get-em-spacer(2);
  }
  
  &.is-spaced-right {
    margin-right: get-em-spacer(2);
  }
}