.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  background-color: $grey-lightest;
  font-size: pixel-to-em($font-size - 2px);
  padding: pixel-to-em(6px) pixel-to-em(10px);
  border-radius: pixel-to-em($border-radius);
  color: $text-tint;
  font-weight: $bold;

  @include background-variation($brand: true, $ui: true, $social: true)

}

.labels > .label {
  margin: 0 pixel-to-em(6px);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
