.label-wrapper {
  display: inline-block;
}

.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  background-color: $label-default-background;
  font-size: pixel-to-em($label-font-size);
  padding: pixel-to-em($label-padding-vertical) pixel-to-em($label-padding-horizontal);
  border-radius: pixel-to-em($border-radius);
  color: $label-default-color;
  font-weight: $label-default-font-weight;
  box-shadow: $label-inner-shadow;

  @include background-variation($brand: true, $ui: true, $social: true)

}

.labels {
  margin: pixel-to-em($labels-margin) * -1;
}

.labels > .label-wrapper {
  padding: pixel-to-em($labels-margin);
}
