/*
 * ReactBucket Framwork
 *
 * Menu @ _menu.scss in 'Element'
 *
 * Defined at 2019-11-16
 * Copyright Marco Cavanna • 2019
 */

/******
    Menu Container
******/
.menu {
  display: flex;
  flex-direction: row;
  margin: get-em-spacer(4) 0;
  font-weight: $menu-content-font-weight;
  font: inherit;
  min-height: $menu-min-height;

  @include compact-margin;

  /*---
    Vertical Menu stack has
    different flex direction
  ---*/
  &.vertical {
    flex-direction: column;
  }

  /*---
    Horizontal menu must
    have a scroll on x overflow
  ---*/
  &.horizontal {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }


  /*---
    Menu Border, removed on
    certain type
  ---*/
  border: $border;
  border-radius: $menu-border-radius;

  &.borderless,
  &.secondary,
  &.tab,
  &.as-text {
    border: none;
    border-radius: 0;
  }
}


/******
    Menu Item Style
******/
.menu-item {
  display: block;
  padding: pixel-to-em($menu-content-padding-vertical) pixel-to-em($menu-content-padding-horizontal);
}


/******
    Menu Item Style
******/
.menu > .menu-item {
  position: relative;
  line-height: 1;
  vertical-align: middle;
  text-decoration: none;
  text-transform: none;
  flex: 0 0 auto;
  background-color: transparent;
  transition:
    background-color $transition-duration $transition-ease,
    color $transition-duration $transition-ease;
  cursor: pointer;
  color: $menu-item-font-color;

  @include unselectable;

  /*---
    Pulled right item
    must increase margin
  ---*/
  &.on-right {
    margin-left: auto;
  }
}

.menu.horizontal > .menu-item:not(:last-child) {
  border-right: $border;
}

.menu.borderless > .menu-item {
  border-right: none !important;
}

.menu .menu-item,
.menu .sub-menu {
  padding: pixel-to-em(13) pixel-to-em(16);
}


/******
    Borderless Menu Style
******/
.menu.borderless {
  margin-left: ($menu-item-spacer * -1);
  margin-right: ($menu-item-spacer * -1);

  > .menu-item {
    margin: 0 $menu-item-spacer;
    border-radius: $menu-border-radius;
    background-color: $white-shade-2;
  }
}


/******
    Tab Menu Style
******/
.menu.tab {
  margin-left: 0;
  margin-right: 0;
  border-bottom: solid $menu-tab-item-border-width $grey-lightest;
  overflow: visible;

  > .menu-item {
    border: none;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: $menu-tab-item-border-width;
    align-self: flex-end;
    margin: 0 0 ($menu-tab-item-border-width * -1);
    transition:
      color $transition-duration $transition-ease,
      border-bottom-color $transition-duration $transition-ease;

    @include without-touch-hover {
      opacity: 1;
      border-bottom-color: $text;
    }
  }
}


/******
    Menu Item State
******/
.menu:not(.tab) {
  > .menu-item {
    &.is-active {
      background-color: $menu-item-active-background;
      color: $menu-item-active-color;
      box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .2);
      text-shadow: 0 0 3px rgba(0, 0, 0, .2);
    }

    &:not(.is-active) {
      @include without-touch-hover {
        background-color: $menu-item-hover-background;
        color: $menu-item-hover-color;
      }
    }
  }

  &.borderless > .menu-item:not(.is-active) {
    @include without-touch-hover {
      background-color: $menu-item-hover-background;
    }
  }
}

.menu.tab > .menu-item {
  &.is-active {
    color: $menu-item-active-background !important;
    border-color: $menu-item-active-background !important;
  }

  @include without-touch-hover {
    border-color: $text-lightest;
    color: $text;
  }
}
