/*
 * ReactBucket Framwork
 *
 * Modal @ _modal.scss in 'Element'
 *
 * Defined at 2019-11-02
 * Copyright Marco Cavanna • 2019
 */


/******
    Modal Element
******/
.modals > .modal {
  position: absolute;
  display: none;
  z-index: 1001;
  text-align: left;

  border: none;

  /* Non basic modals are full height */
  &:not(.is-basic) {
    flex: 1 0 auto;
    height: 100%;
  }

  &.is-basic {
    flex: 0 0 auto;
    height: auto;
  }

  @include min-screen('tablet') {
    flex: 0 0 auto !important;
    height: auto !important;
  }

  @if ($modal-box-shadow != 0) {
    @include dpShadow($modal-box-shadow);
  }

  /*---
    Set Content Border Radius
    only for non mobile modals
  ---*/
  @include min-screen('tablet') {
    border-radius: $modal-border-radius;

    > :first-child:not(.icon),
    > .icon:first-child + * {
      border-top-left-radius: $modal-border-radius;
      border-top-right-radius: $modal-border-radius;
    }

    > :last-child,
    > form > :last-child {
      border-bottom-left-radius: $modal-border-radius;
      border-bottom-right-radius: $modal-border-radius;
    }
  }

  /*---
    State
  ---*/
  &.is-active {
    display: flex;
    flex-direction: column;

    @include min-screen('tablet') {
      display: block;
    }
  }

  /*---
    Vertical Alignment
    only apply on non mobile screen
  ---*/
  @include min-screen('tablet') {
    &.is-top-aligned {
      align-self: top;
    }

    &.is-middle-aligned {
      align-self: center;
    }
  }

}

/******
    Modal Close Icon
******/
.modal > .modal-close {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  font-size: 1.5em;
  color: $white;
  opacity: .75;
  margin: 0;
  top: 1rem;
  right: $modal-horizontal-padding;

  @include without-touch-hover {
    opacity: 1;
  }

  /* On non mobile screen, close button is placed outside */
  @include min-screen('tablet') {
    right: 0;
    top: 0;
    transform: translate(100%, -100%);
    padding: get-em-spacer();
  }
}

/******
    Modal Header
******/
.modal > .modal-header {
  display: block;
  background-color: $modal-header-background;
  color: $modal-header-color;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: $semi-bold;
  padding: 1.5rem $modal-horizontal-padding;
  padding-right: 3.75rem;
  flex: 0 0 auto;

  /* On non mobile screen, header can avoid close button padding */
  @include min-screen('tablet') {
    padding-right: $modal-horizontal-padding;
  }
}

/******
    Modal Content
******/
.modal > .modal-content,
.modal > form > .modal-content {
  display: block;
  background-color: $modal-background;
  padding: 1.5rem $modal-horizontal-padding 1rem;
  width: 100%;
  flex: 1 0 auto;
}

/******
    Modal Header Element
    inside Modal Content is used
    to build confirm dialog
    Must increase margin top on subheader
    to give message more space
******/
.modal > .modal-content > .header .subheader {
  margin-top: 1em;
}

/******
    Modal Actions
******/
.modal > .modal-actions,
.modal > form > .modal-actions {
  display: block;
  background-color: $modal-background;
  padding: .5rem $modal-horizontal-padding 1.25rem;
  text-align: right;
  flex: 0 0 auto;
}

/******
    A Basic Modal has a reduced style
******/
.modal.is-basic {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none !important;

  > .modal-header,
  > .modal-content,
  > form > .modal-content,
  > .modal-actions,
  > form > .modal-actions {
    background-color: transparent;
  }

  > .modal-header {
    border-bottom: solid 2px rgba(255, 255, 255, .8);
  }

  > .modal-content,
  > form > .modal-content {
    color: $white;
    opacity: .75;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/******
    Set Style for Scrolling Modal
    Scrolling Modal has Incresead vertical margin
******/
.modal.is-scrolling {
  margin: 2rem auto;
}

.is-scrolling.dimmable > .modals {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start;
}


/******
    Sizing
    CSS is 'mobile first'
    then all styles are applyed
    to mobile resolution
    On Phone, modals are full width/height
******/
.modals {
  padding: 0;

  @include min-screen('tablet') {
    /* Vertical Aligned Modals has additional padding */
    &.is-top-aligned {
      padding-top: 50px;
    }
  }

  /*---
    Modal width depends on screen width
    on Phone is full width, on tablet up
    can have additional classes to define width
  ---*/
  > .modal {
    width: 100%;

    /* On Tablet Up a Modal can have the small class */
    @include min-screen('tablet') {
      width: 520px;

      &.is-small {
        width: 390px;
      }
    }

    /* On Desktop Up, modal can have big class too */
    @include min-screen('desktop') {
      &.is-big {
        width: 720px;
      }
    }
  }
}


/******
    Modal Transition
******/

.modal.with-transition.is-active {
  @include fadeInDown;
}

.modals.with-transition.is-active {
  @include fadeIn(300ms);
}
