.panel {
  font-size: 1rem;
  display: block;
  background-color: $panel-background-color;
  border-radius: $panel-border-radius;
  margin-bottom: $panel-margin-bottom;

  > .panel-header {
    padding: $panel-padding-vertical $panel-padding-horizontal $panel-padding-vertical / 2;

    + .panel-body {
      padding-top: $panel-padding-vertical / 2;
    }
  }

  > .panel-body {
    padding: $panel-padding-vertical $panel-padding-horizontal;
  }

  &.with-fab {
    position: relative;
    margin-bottom: $panel-margin-bottom + 1.5em;

    > .panel-fab {
      position: absolute;
      right: $panel-padding-horizontal;
      transform: translateY(-50%);

      > .is-fab {
        margin: 0;

        + .is-fab {
          margin-left: pixel-to-em(6px);
        }
      }
    }
  }

  &.is-loading {
    position: relative;
    cursor: default;
    pointer-events: none;
    text-shadow: none !important;
    transition: all 0s linear;
    @include unselectable;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-color: transparentize($white-shade, .15);
      width: 100%;
      height: 100%;
      border-radius: $panel-border-radius;
      z-index: 100;
    }

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin: -1.5em 0 0 -1.5em;
      width: 3em;
      height: 3em;
      animation: spin .5s linear;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
      border-style: solid;
      border-width: 0.2em;
      box-shadow: 0px 0px 0px 1px transparent;
      visibility: visible;
      z-index: 101;
    }
  }
}


/******
    Style the Panel Section
******/
.panel-section {
  display: block;
  margin-bottom: 1.25em;

  > label {
    display: block;
    font-weight: $bold;
    color: $grey-light;
    text-transform: uppercase;
    margin-bottom: .75em;
    font-size: .85em;
  }

  &.is-divided {
    padding-top: 1em;
    border-top: solid 1px $grey-lightest;
  }
}


/******
    Adjust Panel when is used to contain table
******/
.panel.has-table {
  /*---
    Remove Padding for Body
  ---*/
  > .panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: $panel-padding-vertical / 2;
  }

  > .panel-header + .panel-body {
    padding-top: 0;
  }

  /*---
    Adjust Spacers
  ---*/
  .table > .head,
  .table > .body,
  .table > .foot {
    > .row > .cell:first-child {
      padding-left: $panel-padding-horizontal;
    }
  }

  .table > .head,
  .table > .body,
  .table > .foot {
    > .row > .cell:last-child {
      padding-right: $panel-padding-horizontal;
    }
  }

  /*---
    Adjust padding bottom with fab
  ---*/
  &.with-fab > .panel-body {
    padding-bottom: 1.5em;
  }


  /*---
    Adjust RxTable Action Row
  ---*/
  > .panel-body {
    .rx-table-action-row {
      padding-left: $panel-padding-horizontal;
      padding-right: $panel-padding-horizontal;
    }

    .rx-table.rx-table-error {
      padding: 0 $panel-padding-horizontal / 2 $panel-padding-vertical / 2;

      .message {
        margin-bottom: 0;
      }
    }
  }
}
