.popup {
  display: none;
  font-size: .85em;
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: min-content;
  z-index: 1900;
  border: $border;
  line-height: 1.25;
  max-width: 250px;
  background-color: $white;
  padding: pixel-to-em(6px) pixel-to-em(8px);
  color: $text;
  font-weight: $semi-bold;
  font-style: normal;
  border-radius: pixel-to-em($border-radius);
  @include dpShadow(2);

  &.is-inverted {
    border: none;
    background-color: $backdrop;
    color: $white-shade;
    box-shadow: none;
  }

  &.visible {
    display: block;
    @include fadeIn(500ms);
  }

  > .header {
    padding: 0;
    font: inherit;
    font-size: 1.15em;
    font-weight: $bold;
    margin: 0;

    + .content {
      padding-top: get-em-spacer(2);
    }
  }

  @include size-variation;

}
