/*
 * ReactBucket Framwork
 *
 * Popup @ _popup.scss in 'Element'
 *
 * Defined at 2019-11-16
 * Copyright Marco Cavanna • 2019
 */


/******
    Popup Starting Style
******/
.popup {
  display: none;

  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1900;

  background-color: $white;
  color: $text;

  border-radius: pixel-to-em($border-radius);

  @include size-variation;
}


/******
    Popup Style Variation
******/
.popup:not(.is-basic) {
  min-width: 240px;
  max-width: 380px;
  border: $border;
  background-color: $white-shade;
  padding: pixel-to-em(3);
  @include dpShadow(2);

  > .popup-content {
    background-color: $white;
    padding: pixel-to-em(3);
  }
}

.popup.is-basic {
  font-size: .85em;
  min-width: min-content;
  max-width: 250px;
  line-height: 1.25;
  padding: pixel-to-em(6px) pixel-to-em(8px);
  font-weight: $semi-bold;
  font-style: normal;
  @include dpShadow(2);
}

.popup.is-inverted {
  background-color: transparentize($backdrop-color, 1 - $backdrop-tooltip-opacity);
  color: $white-shade;
}


/******
    Popup State
******/
.popup.visible {
  display: block;
  @include fadeIn(300ms);
}


/******
    Popup Menu Item
******/
.popup .menu-item {
  cursor: pointer;
  font-weight: $semi-bold;
  text-transform: uppercase;
  color: $text-lightest;
  background-color: $white;
  transition:
    color $transition-duration $transition-ease,
    background-color $transition-duration $transition-ease;
  border-bottom: solid 1px $white-shade-2;

  @include without-touch-hover {
    color: $text;
    background-color: $white-shade;
  }

  &:last-child {
    border-bottom: none;
  }

  .icon {
    margin-right: pixel-to-em(8);
  }
}
