/*
 * ReactBucket Framwork
 *
 * Dimensions @ _dimensions.scss in 'Variables'
 *
 * Defined at 2020-01-07
 * Copyright Marco Cavanna • 2020
 */


/******
    Spacers
******/

$spacer-relative: 1em;
$spacer-absolute: 1rem;

$spacer: $spacer-absolute;


/******
    Size Maps
******/

$size-map: (
  extra-small : .5em,
  small       : .75em,
  normal      : 1em,
  large       : 1.25em,
  big         : 2em,
  huge        : 3.5em
);
