/*
 * ReactBucket Framwork
 *
 * Elements @ _elements.scss in 'Variables'
 *
 * Defined at 2020-01-07
 * Copyright Marco Cavanna • 2020
 */



/******
    HTML & Layout Properties
******/

$body-bg:                   $white-shade          !default;

$body-font-weight:          $regular              !default;
$body-size-desktop:         $font-size            !default;
$body-line-height-desktop:  $line-height          !default;
$body-color:                $text                 !default;
$body-font:                 $font-family-sans-serif;
$body-render-mode:          $font-render-mode;

$body-font-size:            1rem                  !default;
$body-overflow-x:           hidden                !default;
$body-overflow-y:           scroll                !default;
$body-height:               100%                  !default;

$view-padding:              1rem                  !default;



/******
    Element State Props
******/

$disabled-opacity: .5                         !default;



/******
    BOX Properties
******/


/*---
  Borders
---*/
$border-color: $grey-lightest                   !default;
$border-color-dark: $grey-light                 !default;
$border-color-light: $white-shade-2             !default;
$border: solid 1px $border-color                !default;
$border-dark: solid 1px $border-color-dark      !default;
$border-light: solid 1px $border-color-light    !default;


/*---
  Border Radius
---*/
$border-radius-small: 3px                     !default;
$border-radius: 5px                           !default;
$border-radius-max: 8px                       !default;



/******
    ReactBucket Elements Props
******/

/*---
  <Button />
---*/
$button-background: $grey-lightest                    !default;
$button-border-radius: $border-radius-small           !default;

$button-horizontal-padding: 20px                      !default;
$button-vertical-padding: 8px                         !default;
$button-base-margin: 6px                              !default;
$button-icon-container-size: 34px                     !default;
$button-fixed-height: 34px                            !default;

$button-line-height: $line-height                     !default;
$button-text-transform: uppercase                     !default;
$button-font-weight: $semi-bold                       !default;
$button-font-size: $font-size                         !default;

$button-background-brand: true                        !default;
$button-background-socials: true                      !default;
$button-background-ui: true                           !default;
$button-hover-will-drop-shadow: false                 !default;

$button-flat-base-font-color: $text-lightest          !default;
$button-flat-active-font-color: $text                 !default;
$button-flat-focus-font-color: $text-light            !default;

$button-icon-space-background: rgba(0, 0, 0, .075)  !default;


/*---
  <Checkbox />
---*/
$checkbox-box-size: 1.5em             !default;
$radio-box-size: 1.5em                !default;
$slider-bullet-size: 1em              !default;
$toggle-bullet-size: 1.25em           !default;
$slider-travel-distance: 2.5em        !default;

$checkbox-label-distance: $checkbox-box-size + .75em;
$slider-label-distance: $slider-travel-distance + .75em;


/*---
  <Dimmer />
---*/
$dimmer-animation-duration: .5s !default;


/*---
  <Divider />
---*/
$divider-border-top: solid 1px transparentize($grey-darkest, .85)   !default;
$divider-border-bottom: solid 1px transparentize($white-shade, .9)  !default;


/*---
  <Dropzone />
  ---*/
$dropzone-active-color: $primary              !default;

$dropzone-border-style: dashed                !default;
$dropzone-border-width: 4px                   !default;
$dropzone-border-waiting-color: $border-color !default;
$dropzone-border-error-color: $danger         !default;

$dropzone-hint-color: $grey-light             !default;
$dropzone-hint-icon-size: 4em                 !default;
$dropzone-hint-title-size: 2em                !default;
$dropzone-hint-title-weight: $bold            !default;
$dropzone-hint-message-size: 1.5em            !default;
$dropzone-hint-message-weight: $semi-bold     !default;

$dropzone-preview-wrapper-size: 96px          !default;

$dropzone-file-state-active-color: $primary   !default;
$dropzone-file-state-success-color: $success  !default;
$dropzone-file-state-danger-color: $danger    !default;

/*---
  <HeroButton />
---*/
$hero-button-variarion-color: (
  0: #607d8b,
  1: #673ab7,
  2: #0288d1,
  3: #388e3c,
  4: #ff5722,
  5: #e91e63,
  6: #d32f2f,
  7: #009688,
  8: #3f51b5
) !default;


/*---
  <Hero />
---*/
$hero-background-color: $white          !default;
$hero-font-color: $text                 !default;
$hero-header-font-weight: $bold         !default;
$hero-header-font-size: 1.75em          !default;
$hero-content-font-weight: $semi-bold   !default;
$hero-content-font-size: 1.25em         !default;
$hero-icon-font-color: $text-lightest   !default;
$hero-icon-opacity: .15   !default;
$hero-icon-font-size: 7.5em   !default;
$hero-tools-padding-right: $view-padding * 2    !default;
$hero-tools-button-size: 1.5em    !default;
$hero-page-tools-bottom-position: $view-padding   !default;


/*---
  <Icon />
---*/
$icon-base-width: 22px    !default;
$icon-base-margin: 4px    !default;


/*---
  <Input />
---*/
$input-line-height-base: 24px                         !default;
$input-vertical-padding: 6px                          !default;
$input-horizontal-padding: .75em                      !default;

$input-line-height: strip-unit(pixel-to-em($input-line-height-base));
$input-height: pixel-to-em($input-line-height-base + ($input-vertical-padding * 2) + 2px);


/*---
  <Item />
---*/
$item-avatar-base-size: 2.5em         !default;
$item-base-background: transparent    !default;
$item-clickable-hover-background: rgba(0, 0, 0, 0.05)   !default;

$item-avatar-border-radius: 500rem    !default;
$item-avatar-inner-shadow: inset 0 0 2px 0px rgba(0, 0, 0, .2)  !default;
$item-avatar-background-color: $white-shade-2       !default;

$item-header-header-font-weight: $semi-bold         !default;
$item-text-content-opacity: .7                      !default;
$item-text-content-font-size: .9em                  !default;

$item-notification-badge-min-size: 16px             !default;


/*---
  <Item />
---*/
$label-default-background: $white-shade-2   !default;
$label-default-color: $text-light           !default;
$label-default-font-weight: $bold           !default;

$label-font-size: $font-size - 2px          !default;
$label-padding-vertical: 6px                !default;
$label-padding-horizontal: 10px             !default;

$label-inner-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .2)  !default;

$labels-margin: 3px  !default;


/*---
  <Loader />
---*/
$default-loader-size: 20px                          !default;
$button-loader-size:  20px                          !default;

$loader-circular-size: .2em                         !default;
$loader-circular-background: rgba(0, 0, 0, 0.1)   !default;
$loader-circular-active-color: #767676            !default;

$loader-circular-inverted-color: #fff             !default;
$loader-circular-inverted-content-color: $white-shade       !default;
$loader-circular-inverted-active-color: rgba(255, 255, 255, .15)       !default;

$loader-dots-color: $grey-light   !default;

$loader-dots-inverted-color: $white-shade-2 !default;

$loader-size-map: (
  extra-small:  1rem,
  small:        1.75rem,
  normal:       2.5rem,
  large:        3.5rem,
  big:          5rem,
  huge:         7rem
) !default;

$loader-font-size-map: (
  extra-small:  .5em,
  small:        .75em,
  normal:       1em,
  large:        1.35em,
  big:          2em,
  huge:         2.5em
) !default;

$loader-dots-animation-duration: 1s    !default;
$loader-dots-animation-delay: 160ms    !default;


/*---
  <Menu />
---*/
$menu-content-font-weight:    $semi-bold                    !default;
$menu-content-padding-vertical: 14px                        !default;
$menu-content-padding-horizontal: 8px                       !default;

$menu-item-spacer:            pixel-to-em(6)                !default;
$menu-item-font-color:        $text-light                   !default;
$menu-item-active-background: $primary                      !default;
$menu-item-active-color:      $white                        !default;
$menu-item-hover-background:  $white-shade-2                !default;
$menu-item-hover-color:       $text                         !default;

$menu-tab-item-border-width:  2px                           !default;

$menu-min-height:             pixel-to-em(40)               !default;
$menu-vertical-min-width:     pixel-to-em(240)              !default;

$menu-border-radius:          pixel-to-em($border-radius)   !default;


/*---
  <Modal />
---*/
$modal-background:          $white                !default;
$modal-border-radius:       $border-radius-max    !default;
$modal-border:              none                  !default;
$modal-box-shadow:          4                     !default;
$modal-horizontal-padding:  1.5rem                !default;
$modal-header-background:   $primary              !default;
$modal-header-color:        $white                !default;


/*---
  <NavBar />
---*/
$navbar-background:           $white    !default;
$navbar-height:               58px      !default;
$navbar-v-padding:            12px      !default;
$navbar-z-index:              100       !default;
$navbar-border:               none      !default;
$navbar-element-padding:      1rem      !default;
$navbar-scrolled-box-shadow:  0 0 5px 0 rgba(0, 0, 0, .2)   !default;


/*---
  <Panel />
---*/
$panel-background-color: $white         !default;
$panel-border-radius: $border-radius    !default;
$panel-padding-vertical: 1.5em          !default;
$panel-padding-horizontal: 1.5em        !default;
$panel-margin-bottom: 1.5em             !default;

$panel-section-label-font-weight: $bold         !default;
$panel-section-label-color: $grey-light         !default;
$panel-section-label-text-transform: uppercase  !default;
$panel-section-label-margin-bottom: .5em        !default;
$panel-section-label-font-size: .85em           !default;


/*---
  <Progress />
---*/
$progress-bar-height:       1.5em           !default;
$progress-bar-background:   $grey-lightest  !default;


/*---
  <SideBar />
---*/
$sidebar-width:               50px      !default;
$sidebar-button-size:         36px      !default;
$sidebar-logo-size:           32px      !default;
$sidebar-z-index:             200       !default;
$sidebar-background:          $primary  !default;
$sidebar-border:              none      !default;


/*---
  <Table />
---*/
$table-cell-v-padding:      1rem      !default;
$table-cell-h-padding:      1rem      !default;



/******
    Default DOM Element
******/

/*---
  <a></a>
---*/

$link       : $primary                !default;
$link-hover : $primary-shade          !default;


/*---
  <code></code>
---*/

$code               : $text-tint      !default;
$code-background    : $grey-lightest  !default;
$code-weight        : map-get($map: $google-fonts-weight-map, $key: $font-monospace)      !default;
$code-size          : 1em             !default;
$code-padding       : 3px 7px         !default;
$code-border-radius : 3px             !default;


/*---
  <hr />
---*/

$hr        : $grey-light              !default;
$hr-height : 1px                      !default;
$hr-margin : 1em 0                    !default;


/*---
  <strong></strong>
---*/

$strong        : $text                !default;
$strong-weight : $bold                !default;
