/*
 * ReactBucket Framwork
 *
 * Grid @ _grid.scss in 'Variables'
 *
 * Defined at 2020-01-07
 * Copyright Marco Cavanna • 2020
 */


/******
    Container Props
******/

$container-spacer: $spacer !default;


/******
    Columns Props
******/

$column-class: 'column';
$columns: 12  !default;
$columns-gap: $spacer;
