/*
 * ReactBucket Framwork
 *
 * Responsive @ _responsive.scss in 'Variables'
 *
 * Defined at 2020-01-07
 * Copyright Marco Cavanna • 2020
 */


/******
    Screen Size
******/

$phone:           576px     !default;
$tablet:          960px     !default;
$desktop:         1440px    !default;
$large-desktop:   1920px    !default;


/******
    BreackPoints Map
******/

$breakpoints-map: (
  phone         : $phone,
  tablet        : $tablet,
  desktop       : $desktop,
  large-desktop : $large-desktop
);


/******
    Container Width Map
******/

$container-width-map: (
  phone         : 528px,
  tablet        : 864px,
  desktop       : 1200px,
  large-desktop : 1728px
);
