$breakpoints-map: (
  phone         : 576px,
  tablet        : 960px,
  desktop       : 1440px,
  large-desktop : 1920px
);

$container-width-map: (
  phone         : 528px,
  tablet        : 864px,
  desktop       : 1200px,
  large-desktop : 1728px
);
