/**
 * Project ReactBucket
 *
 * _Header @ src/styles/elements/_header.scss
 *
 * Defined at 09 giu 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 * Define Header Style
 *
 */

/******
    Reset Header Fonts Size
    As the header will be used for any other
    component, main font size will be declared
    only on the master header container and not
    for its child
******/
.header {
  display: block;
  position: relative;
  margin: $header-top-margin 0 $header-bottom-margin;
  padding: 0;
  text-align: inherit;
  font-weight: $header-font-weight;

  // ----
  //  Reset heading elements font size
  // ----
  .header-content {
    font-size: $header-base-font-size;
    flex-grow: 1;

    .content {
      font-size: 1em;
    }
  }

  // ----
  //  Remove Margin from content
  //  Content and Subheader will inherit font weight from parent
  // ----
  .content, .subheader {
    font-weight: inherit;
    margin: 0;
  }


  // ----
  //  Set the Subheader font size and Colors
  // ----
  .subheader {
    font-size: $header-subheader-relative-font-size;
    opacity: $header-subheader-opacity;
  }

  // ----
  //  Remove Top Margin on First Element
  // ----
  &:first-child {
    margin-top: 0;
  }
}


/******
    Set Disabled Header Opacity
******/
.header.disabled {
  opacity: $disabled-element-opacity !important;
}


/******
    Set the Divider Element
******/
.header.divided {
  border-bottom: solid 1px $hr-color-dark;
  padding-bottom: $header-bottom-margin;
}


/******
    Header Icons
******/
.header.with-icon,
.header.with-actions {
  display: flex;
  width: 100%;
  flex: 1 0 100%;
  align-items: center;

  // ----
  //  Set the Icon Style
  // ----
  .header-icon {
    font-size: $header-base-font-size;
  }

  // ----
  //  Set Flex Direction Based on Text Align
  // ----
  &.has-text-right {
    flex-direction: row-reverse;

    .header-icon {
      @include icon-style() {
        margin-right: 0;
        margin-left: $icon-spacer;
      }
    }
  }

  &.has-text-center {
    flex-direction: column;

    /// Increase Icon Size on Centered Header
    .header-icon {
      font-size: $header-centered-icon-size;

      @include icon-style() {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: $icon-spacer;
      }
    }

    /// Add spacing between Actions and Content
    .header-actions {
      margin-top: $header-actions-spacer;
    }
  }
}
