/******
    Fix for Scrollbar on Windows Browser
******/

::-webkit-scrollbar {
  display: none;
}

*, *:focus {
  outline: none !important;
}

.sticky-container {
  height: 100%;
}

.sortable-helper {
  background-color: $white !important;
  @include dpShadow(2);
}

.will-sort {

  &.is-sorting {
    z-index: 9999;

    > * {
      @include slidingGrowUp();
    }
  }

  &.panel-without-fab {
    margin-bottom: $panel-margin-bottom;

    > .panel {
      margin-bottom: 0;
    }
  }

  &.panel-with-fab {
    margin-bottom: $panel-margin-bottom + 1.5em;

    > .panel {
      margin-bottom: 0;
    }
  }
}

label {
  cursor: inherit;
}
