html {
  font-family: $body-font;
  font-size: $body-size-desktop;
  font-weight: $body-font-weight;
  line-height: $body-line-height-desktop;
  text-size-adjust: 100%;
  color: $text;

  text-rendering: $font-render-mode;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: $body-bg;

  height: 100%;

  &.small-font-size {
    font-size: $default-small-font-size;
  }

  &.big-font-size {
    font-size: $default-big-font-size;
  }
}
