/* ==================================

     navbar @ Layout

     Project Inkflow
     Author Marco Cavanna - 2019

================================== */


/*==========
    Base Navbar Style
==========*/
#navbar {
  // Navbar Position
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;

  // Navbar z-index
  z-index: $navbar-z-index;

  // Navbar Colors
  background-color: $white;
  border-bottom: $navbar-border;

  // NavBar box Shadow and Transition
  box-shadow: none;
  transition: box-shadow $transition-duration $transition-ease;

  /*---
      Navbar container must be
      used to wrap each navbar item element
  ---*/
  > .navbar-content {
    // Navbar container will use
    // Flex props to adjust content
    display: flex;
    align-items: center;
    padding: $navbar-v-padding $view-padding;
    height: 100%;

    /*---
        Navbar Element are the
        section of the navbar
    ---*/
    > .navbar-element {
      flex: 1 0;

      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 $navbar-element-padding;

      border-right: $border;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      /*---
          The first right navbar
          element will have margin left
          setted to auto, to pull
          the element to the right
      ---*/
      &.right {
        flex: 0 0 auto;
        margin-left: auto;

        + .right {
          margin-left: 0;
        }
      }
    }
  }
}


/*==========
    Set the Page Title style
==========*/
#navbar .page-title {
  margin: 0;
  padding: 0;
  color: $text-lightest;
  text-transform: uppercase;
  font-weight: $bold;
}


/*==========
    Fix the Body Padding Top
    If navbar is present into layout
==========*/
body.with-navbar {
  padding-top: $navbar-height
}


/******
    Set the BoxShadow while scrolling
******/
body.scrolled #navbar {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}


/*==========
    Set the navbar padding left
    if the sidebar is visible and
    it is over the navbar element
==========*/
@if ($sidebar-z-index > $navbar-z-index) {
  body.with-sidebar {
    #navbar {
      padding-left: $sidebar-width;
    }
  }
}
