/**
 * Project ReactBucket
 *
 * _Variables @ src/styles/_core/_variables.scss
 *
 * Defined at 05 giu 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 * Variables declaration for entire ReactBucket UI Framework
 *
 */

/******
    HTML & Body Variables
******/
$body-font: $font-family-sans-serif;
$body-font-size: $base-font-size;
$body-font-weight: $regular;
$body-line-height: $line-height;
$body-color: $text;
$body-background: $white-shade;
