@each $element, $size in $header-font-size-map {

  %header-#{$element} {
    font-size: $size;
    margin: 0 0 $header-margin-bottom;
  
    @if map-has-key($header-font-weight-map, $element) {
      font-weight: map-get($header-font-weight-map, $element)
    }
  }

  #{$element} {
    @extend %header-#{$element};
  }

  @if $generate-header-as-class == true {
    .#{$element} {
      @extend %header-#{$element};
    }
  }

  @if $generate-header-as-name == true {
    .#{str-replace($element, 'h', 'header-')} {
      @extend %header-#{$element};
    }
  }

}