/// Import the Reset File
$import-reset: true !default;

/// Import the Normalizer File
$import-normalizer: true !default;

/// HTML class for non touch device
/// (must be appended from thirdy part javascript code)
$without-touch-class: 'no-touch' !default;

/// Set Default Font Size
$default-font-size: 14px !default;

/// Font Size Variation for HTML Element
$default-small-font-size: 12px !default;
$default-big-font-size: 16px !default;

/// Set Default Line Height
$default-line-height: 1.25 !default;

/// Set Default Fonts
/// Choose from 'Roboto', 'Open Sans', 'Lato', 'Montserrat', 'Source Sans Pro', 'Poppips', 'Ubuntu', 'Dosis', 'Quicksand'
$default-web-font: 'Nunito' !default;

/// Set Default Monospace Font
/// Choose from 'Roboto Mono', 'Source Code Pro', 'Ubuntu Mono'
$default-monospace-font: 'Roboto Mono' !default;

/// Mobile resolution class will take priority
/// on Desktop class
$breakpoint-mobile-first: true !default;
