@mixin build-loader ($text-color: transparent, $container-opacity: 1, $cursor: default, $container-position: relative, $loader-size: $default-loader-size) {
  position: $container-position;
  cursor: $cursor;
  text-shadow: none !important;
  color: $text-color !important;
  opacity: $container-opacity;
  pointer-events: auto;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: ((pixel-to-em($loader-size) / 2) * -1) 0 0 ((pixel-to-em($loader-size) / 2) * -1);
    width: pixel-to-em($loader-size);
    height: pixel-to-em($loader-size);
    border-radius: 500rem;
    box-sizing: inherit;
    z-index: 100;
  }

  &:before {
    border: .2em solid rgba(0, 0, 0, .15);
  }

  &:after {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: .2em;
    @include rotate;
  }
}
