@keyframes :global(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes :global(fadeInDown) {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes :global(flashingPrimaryBorder) {
  0% {
    border-color: $primary;
  }

  50% {
    border-color: color-tint($primary, 5);
  }

  100% {
    border-color: $primary;
  }
}

@mixin fadeIn($duration: 300ms, $timing-function: $swift-ease-out) {
  @include animate(fadeIn, $timing-function, $duration);
}

@mixin fadeInDown($duration: 300ms, $timing-function: $swift-ease-out) {
  @include animate(fadeInDown, $timing-function, $duration);
}

@mixin flashingPrimaryBorder($duration: 1500ms) {
  animation-name: flashingPrimaryBorder;
  animation-timing-function: $swift-ease-in-out;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}
