@keyframes :global(growUp) {
  from {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .15);
  }
  to {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
  }
}

@mixin slidingGrowUp($duration: 200ms, $timing-function: $swift-ease-in-out) {
  @include animate(growUp, $timing-function, $duration);
  animation-fill-mode: forwards;
}
